.display-divs {
  text-align: center;
  background-image: url("https://www.fenoxo.com/play/CoC2/release/resources/bitmaps/ui/page_with_paper.png");
  background-size: 100% 100%;
  height: 78.5%;
  width: 60%;
  top: 0;
  left: 20%;
  margin: 0 auto;
  position: absolute;
  overflow-y: auto;
}

.btn {
  position: relative;
  flex: 1;
  background-image: url("https://www.fenoxo.com/play/CoC2/release/resources/bitmaps/ui/enabled_button.png");
  background-size: 100% 100%;
  border-image-source: url("https://www.fenoxo.com/play/CoC2/release/resources/bitmaps/ui/enabled_button_border.png");
  border-image-slice: 13;
  margin: 0.2%;
  cursor: url("https://www.fenoxo.com/play/CoC2/release/resources/bitmaps/ui/mouse_pointer.png"), pointer;
  font: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-weight: bold;
  font-size: 90%;
  text-align: center;
  vertical-align: top;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}